{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="container mt-5">

<h1>Contactez-nous</h1>

{% for message in app.flashes('success') %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% endfor %}

{{ form_start(form, {'attr': {'aria-label': 'Formulaire de contact'}}) }}

<div class="mb-3">
    {{ form_label(form.titre) }}
    {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="mb-3">
    {{ form_label(form.email) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="mb-3">
    {{ form_label(form.description) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
</div>

<button class="btn btn-primary">
    Envoyer
</button>

{{ form_end(form) }}

</div>

{% endblock %}