{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1>{{ menu.titre }}</h1>

    <p>{{ menu.description }}</p>

    <p>
        <strong>{{ menu.nombrePersonnesMinimum }} personnes minimum</strong><br>
        Prix : <strong>{{ menu.prix }} €</strong>
    </p>

    <a href="{{ path('app_menus') }}" class="btn btn-secondary">
        Retour
    </a>
</div>
{% endblock %}